<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet"  type="text/css" />
</head>
<body>
    <a href="@Url.Content("~")" id="current">Home</a>     | 
    <a href="@Url.Content("~/StoreManager/")">Admin</a>   | 
    <a href="@Url.Content("~/Home/Test")">Test</a>

    <br />

    @RenderBody()
</body>
</html>